html, body {
	margin: 0;
	padding: 0;
}

header{
	margin: 0 auto;
	margin-top: 8px;
}

img {
	width: 37px;
	float: left;
}

h1 {
	margin: 0;
	float: left;
}

#welcome {
	margin: inherit;
	width: 316.02px;
	height: 37px;
}

#all-squares {
	position: relative;
	background-color: pink;
	width: 198px;
	height: 140px;
	margin: inherit;
}

#background-squares {
	margin: 0;
	position: relative;
	top: 8px;
	left: 8px;
	bottom: 8px;
	background-color: orange;
	width: 182px;
	height: 124px;
}

#table-squares {
	position: relative;
	top: 8px;
	left: 8px;
	width: 166px;
	height: 108px;
}

.visible-squares{
	z-index: 2;
}

#red{
	width: 50px; 
	height: 50px;
	background-color: red;
	border-radius: 5px;
	position: absolute;
}

#blue {
	width: 50px;
	height: 50px;
	background-color: blue;
	border-radius: 5px;
	position: absolute;
	top: 0px;
	left: 58px;
}

#green {
	width: 50px;
	height: 50px;
	background-color: green;
	border-radius: 5px;
	position: absolute;
	top: 0px;
	left: 116px;
}

#yellow {
	width: 50px;
	height: 50px;
	background-color: yellow;
	border-radius: 5px;
	position: absolute;
	top: 58px;
	left: 58px;
}

.text-squares {
	position: absolute;
	margin: 0px;
	font-size: 31.02px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-family: Sans-serif;
	z-index: 1;
	visibility: hidden;
}

#text-red {
	top: 0px;
	left: 0px;
} 

#text-blue {
	top: 0;
	left: 58px;
}

#text-green {
	top: 0px;
	left: 116px
}

#text-yellow {
	top: 58px;
	left: 58px;
}

#learning {
	text-align: center;
}
